<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.anheinno.pam.client"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="com.anhe_inno.pam.permission.SEND"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/android:Theme.Light"
    android:name="com.anheinno.pam.libs.application.Application">
        <activity android:name=".PamClientActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".receiver.MessageReceiver" android:permission="com.anhe_inno.pam.permission.RECEIVE">
        	<intent-filter>
        		<action android:name="com.anheinno.intent.action.PUSHMSG" />
            	<category android:name="com.anheinno.pam.client" />
            </intent-filter>
        </receiver>

    </application>
</manifest>